@model detailProductDTO
@{
    ViewData["Title"] = "Product Detail";
}

<link href="~/css/product/productdetail.css" rel="stylesheet" />
<link href="~/css/product/addtocart.css" rel="stylesheet" />


<p style="display: none; opacity: 0" id="productId">@Model.id</p>
<div id="toast">
</div>
<div id="services" class="services section-bg">
    <div class="container-fluid">
        <div class="row row-sm">
            <div class="col-md-6" style="position:relative; display:flex; justify-content:center">
                <img class="my_img" src=@Model.productImg alt=@Model.productName>
            </div>
            <div class="col-md-6">
                <div class="_product-detail-content">
                    <p class="_p-name">@Model.productName</p>
                    <div class="_p-price-box">
                        <div class="p-list">
                            <span>
                                <i class="fa-sharp fa-solid fa-dollar-sign"></i>
                                <span class="price">@Model.price</span>
                            </span>
                            <span>
                                <p>Number of product in Inventory: </p>
                                <span id="inventory">@Model.inventoryNumber</span>
                            </span>
                        </div>
                        <div class="_p-add-cart">
                            <div class="_p-qty">
                                <span>Add Quantity</span>
                                <div class="value-button decrease_" id="" value="Decrease Value">-</div>
                                <input type="number" name="qty" id="number" value="1" />
                                <div class="value-button increase_" id="" value="Increase Value">+</div>
                            </div>
                        </div>
                        <div class="_p-features">
                            <span> Description about this product: </span>
                            @Model.description
                        </div>
                        <br />
                        <div accept-charset="utf-8">
                            <div class="_p-qty-and-cart">
                                <div class="_p-add-cart">
                                    <a class="btn-theme btn btn-success _AddToCart" tabindex="0" href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br /> <br />
<h2>Review</h2>
<div>
    @{
        foreach(ReviewDTO item in Model.reviewProductDTOs) {
            <div>
                <h5 style="margin:5px 0px;">@item.userName</h5>
                <div style="margin-left:10px">
                    @{
                        for (int i = 1; i <= item.rating; i++)
                        {
                            <i class="fa-solid fa-star" style="color:#FF9529"></i>
                        };
                        for (int i = 5; i > item.rating; i--)
                        {
                            <i class="fa-regular fa-star" style="color:#FF9529"></i>
                        }
                    }
                </div>
                <p style="margin-bottom:20px; margin-left:10px">@item.comment</p>
            </div>
        }
    }
</div>

<script>
    function InDeQuantity() {
        var decreaseButton = document.querySelector('.container .container-fluid ._product-detail-content ._p-price-box ._p-add-cart ._p-qty .decrease_')
        var increaseButton = document.querySelector('.container .container-fluid ._product-detail-content ._p-price-box ._p-add-cart ._p-qty .increase_')
        decreaseButton.onclick = function (e) {
            var quantity = document.querySelector('.container .container-fluid ._product-detail-content ._p-price-box ._p-add-cart ._p-qty input')
            var newQuantity = parseInt(quantity.value)
            if (newQuantity > 1)
                quantity.value = (parseInt(quantity.value) - 1).toString()
        }
        increaseButton.onclick = function (e) {
            var quantity = document.querySelector('.container .container-fluid ._product-detail-content ._p-price-box ._p-add-cart ._p-qty input')
            var inventory = document.querySelector('.container .container-fluid ._product-detail-content ._p-price-box .p-list #inventory').innerHTML
            if ((parseInt(quantity.value) + 1) <= inventory)
                quantity.value = (parseInt(quantity.value) + 1).toString()
        }
    }
    InDeQuantity()
</script>
@section Scripts{
    <script src="~/js/product/productDetail.js"></script>
}