@using System.IO
@model List<ShowedProductDTO>
@{
    ViewData["Title"] = "Home";
    List<AllCategoryDTO> allCategoryDTOs = ViewData["AllCategory"] as List<AllCategoryDTO>;
    string isAuthorized = ViewData["isAuthorized"] as string;
    int totalPage = int.Parse(ViewData["TotalPage"] as string);
    string pageIndex = ViewData["PageIndex"] as string;
    string categoryType = ViewData["CategoryType"] as string;
}
<link href="../css/Home/Menu.css" rel="stylesheet" />
<link href="~/css/product/rating.css" rel="stylesheet" />
<link href="~/css/product/card.css" rel="stylesheet" />

<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                    @{
                        foreach (AllCategoryDTO item in allCategoryDTOs)
                        {
                            <a class="nav-item nav-link" asp-controller="Home" asp-action="Category" asp-route-type=@item.id asp-route-pageIndex=1>@item.name</a>
                        }
                    }
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        @{
                            if (isAuthorized != "true")
                            {

                            }
                            else
                            {
                                <a class="nav-item nav-link" asp-controller="Product" asp-action="Buy">Shopping Cart</a>
                                <a class="nav-item nav-link" asp-controller="Product" asp-action="History">Checkout</a>
                            }
                        }
                    </div>
                    @{
                        if (isAuthorized != "true")
                        {
                            <div class="navbar-nav ml-auto py-0">
                                <a class="nav-item nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                                <a class="nav-item nav-link" asp-controller="Auth" asp-action="Register">Register</a>
                            </div>
                        }
                        else
                        {
                            <div class="navbar-nav ml-auto py-0">
                                <a class="nav-item nav-link" asp-controller="Auth" asp-action="LogOut">Log out</a>
                            </div>
                        }
                    }
                </div>
            </nav>
            <div class="row">
                @{
                    if (Model != null)
                    {
                        foreach (ShowedProductDTO product in Model)
                        {
                            <div class="col-4 card">
                                <div class="card-img" style="height: 60%">
                                    <img src="@product.productImg" class="card-img-top" alt="@product.productName" style="object-fit:scale-down">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; line-clamp:2;">
                                        @product.productName
                                    </h5>
                                    <h4 style="color: red;">@Convert.ToDecimal(product.price).ToString("C0")</h4>
                                    <i data-star=@product.rating></i>
                                    <a class="btn btn-primary" asp-controller="Product" asp-action="Detail" asp-route-id=@product.id>Buy</a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <nav aria-label="Page navigation example" style="margin: 20px auto; display: flex;">
                <ul class="pagination" style="margin: auto;">
                    @{
                        if (int.Parse(pageIndex) == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous" href="#">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" asp-controller="Home" asp-action="Category" asp-route-type=@categoryType asp-route-pageIndex=@(int.Parse(pageIndex)-1)>
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }

                        int countPage = totalPage / 3 + (totalPage % 3 == 0 ? 0 : 1);
                        for (int i=0; i<countPage; i++){
                            if (i+1 == int.Parse(pageIndex)){
                                <li class="page-item active"><a class="page-link" asp-controller="Home" asp-action="Category" asp-route-type=@categoryType asp-route-pageIndex=@(i+1)>@(i + 1)</a></li>
                            }
                            else {
                                <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="Category" asp-route-type=@categoryType asp-route-pageIndex=@(i+1)>@(i + 1)</a></li>
                            }
                        }

                        if (int.Parse(pageIndex)==countPage){
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                        else {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" asp-controller="Home" asp-action="Category" asp-route-type=@categoryType asp-route-pageIndex=@(int.Parse(pageIndex)+1)>
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>


@*@section scripts {
    <script type="text/javascript" src="../js/Home/Category.js"></script>
}*@